<section class="intro">
  <div class="icon payment"></div>
  <div class="step">Step 2 of 2</div>
  <h1>Payments</h1>
  <p>Pay a Street Sense Media vendor when you don't have cash.</p>
  <p class="minor">Payments are only for buying physical copies of our newspaper. We do not offer digital copies.</p>
  {{#if isLoading}}
    {{spinning-wheel}}
  {{else}}
    {{#if flashMessage}}
      <div class="flash-message">
        {{flashMessage}}
      </div>
    {{/if}}
    {{card-scanner class="card-scanner" label='Set Up Card' onCardComplete=(action "useScannedCard")}}
    
    {{#if canUseApplePay}}
      <div class="button" {{action 'useApplePay'}}>Use Apple Pay</div>
    {{/if}}

    <div class="notice">You can change this later in Settings</div>
  {{/if}}
</section>
