{{outlet}}

<div class="">
  <ul>
    <li class="{{if hasPreviousPurchases 'enabled' 'disabled'}}">
      {{#if hasPreviousPurchases}}
        {{#link-to "purchases"}}Previous Purchases{{/link-to}}
      {{else}}
        <a>Previous Purchases</a>
      {{/if}}
    </li>
    <li>{{#link-to "payment-setup"}}Payment info &amp; permissions{{/link-to}}</li>
    <li {{action 'openShareSheet'}}><a>Share this App</a></li>
    {{#if showReset}}
      <li class="factory-reset" {{action 'resetPersonalInfo'}}><a>Factory Reset!</a></li>
    {{/if}}
  </ul>

  <h1>Who's Involved</h1>

  <div class="partners">
    
    <div class="partner">
      <div {{action 'secretTap'}} class="logo">
        <img class="big" src="assets/images/street-sense-logo-horizontal-blue-orange.svg">
      </div>
      <p>Our mission is to end homelessness in the D.C. area by empowering people in need with the skills, tools and confidence to succeed. Together we use a range of media platforms to raise awareness and spotlight solutions to homelessness in our community.</p>
      <a href="http://www.streetsensemedia.org/">streetsensemedia.org</a>
    </div>

    <div class="partner">
      <div class="logo">
        <img class="small" src="assets/images/partner-centralcity.svg">
      </div>
      <p>Since 1907, the Central City Mission and Foundation have provided help and hope to the most vulnerable people. Street Sense Media thanks Central City for their financial support of the original Megaphone Magazine vendor payment app, on which this project is built.</p>
      <a href="https://centralcityfoundation.ca/">centralcityfoundation.ca</a>
    </div>

    <div class="partner last">
      <div class="logo">
        <img src="assets/images/partner-denimandsteel.svg">
      </div>
      <p>Designed and created by Denim &amp; Steel Interactive. All source code and visual assets, except logos, are open source under the Non-Profit Open Software License. Contact us for customization inquiries.</p>
      <a href="http://denimandsteel.com/">denimandsteel.com</a>
    </div>

  </div>

</div>
