{{outlet}}

<div class="settings">
  <ul>
    <li class="{{if hasPreviousPurchases 'enabled' 'disabled'}}">
      {{#if hasPreviousPurchases}}
        {{#link-to "purchases"}}Previous Purchases{{/link-to}}
      {{else}}
        <a>Previous Purchases</a>
      {{/if}}
    </li>
    <li>{{#link-to "payment-setup"}}Payment info &amp; permissions{{/link-to}}</li>
    <li><a href="http://twitter.com/share?url=http%3A%2F%2Ffind.megaphonemagazine.com&amp;text=Megaphone%E2%80%99s%20Vendor%20Finder%20App%20locates%20vendors%20and%20lets%20you%20pay%20if%20you%20don%E2%80%99t%20have%20cash!%20For%20iOS%20and%20Android">Share on Twitter</a></li>
    <li><a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Ffind.megaphonemagazine.com">Share on Facebook</a></li>
    {{#if showReset}}
      <li class="factory-reset" {{action 'resetPersonalInfo'}}>Factory Reset!</li>
    {{/if}}
  </ul>

  <h1>Who's Involved</h1>

  <div class="partners">
    
    <div class="partner">
      <div {{action 'secretTap'}} class="logo">
        <img class="big" src="assets/images/partner-megaphone.svg">
      </div>
      <p>Megaphone Magazine and Hope in Shadows Calendar are sold on the streets of Vancouver and Victoria by homeless and low-income vendors. Vendors buy the paper for 75 cents and sell the magazine for $2. All purchases (except transaction fees to payment provider) go into the pocket of the vendor.</p>
      <a href="http://megaphonemagazine.com/">megaphonemagazine.com</a>
    </div>

    <div class="partner">
      <div class="logo">
        <img class="small" src="assets/images/partner-centralcity.svg">
      </div>
      <p>Since 1907, the Central City Mission and Foundation have provided help and hope to the most vulnerable people in Vancouver’s inner city. Megaphone thanks Central City for their generous financial support of this project.</p>
      <a href="http://centralcityfoundation.ca/">centralcityfoundation.ca</a>
    </div>

    <div class="partner">
      <div class="logo">
        <img class="big" src="assets/images/partner-canada.svg">
      </div>
      <p>We acknowledge the financial support of the Government of Canada through the Canada Periodical Fund of the Department of Canadian Heritage.</p>
      <p>Nous reconnaissons l'appui financier du gouvernement du Canada par l'entremise du minist&egrave;re du Patrimoine canadien.</p>
      <a href="https://www.canada.ca/">canada.ca</a>
    </div>

    <div class="partner">
      <div class="logo">
        <img class="big" src="assets/images/partner-hao.svg">
      </div>
      <p>Harry Olson leads HAO Creative, an interdisciplinary branding and design studio offering fresh and unconventional viewpoints in image, environment, and identity design.</p>
      <a href="http://haocreative.ca/">haocreative.ca</a>
    </div>

    <div class="partner last">
      <div class="logo">
        <img src="assets/images/partner-denimandsteel.svg">
      </div>
      <p>Designed and created by Denim &amp; Steel Interactive. All source code and visual assets, except logos, are open source under the MIT License. Contact us for customization inquiries.</p>
      <a href="http://denimandsteel.com/">denimandsteel.com</a>
    </div>

  </div>

</div>
